#board{
    display: flex;
    flex-wrap: wrap;
    
    
    width: 350px;
    height: 350px;
}
/*.square{
    width: 120px;
    height: 120px; 
    border: 2px solid black; 
    font-size: 115px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    font-family: arial;
            
}*/